jupyter-book
matplotlib
numpy
ghp-import
pandas
numpy
matplotlib
scikit-learn
statsmodels
stargazer
jupyter
jupyterlab
ipykernel
pyyaml
pyarrow
qiskit
qiskit-machine-learning
ghp-import
openpyxl
sphinx-autobuild
pdflatex